---
import { Image } from "astro:assets";

import {
	CV,
	EMAIL,
	FONT_MONO_ATTR,
	FONT_SANS_ATTR,
	GITHUB,
	GITLAB,
	ICON_BXL_ATTR,
	LASTFM,
	LINKEDIN,
	PROJECTS,
	REALTIME_ATTR,
	SONOKAI_ATTR,
	TWITTER,
	WORK,
} from "~/utils/constants";

import Layout from "~/layouts/Layout.astro";

import CurrentlyListening from "~/components/CurrentlyListening.tsx";
import Project from "~/components/Project.astro";

import profileImage from "~/images/profile.jpg";
---

<Layout title="Curstantine">
	<main
		class="grid min-h-screen lg:container"
		grid="cols-1 lg:grid-cols-[20rem_1fr] xl:cols-[20rem_1fr_16rem] 2xl:cols-[20rem_1fr_20rem]"
	>
		<div
			class="flex flex-col items-center lg:(sticky inset-y-4 left-0 max-h-[calc(100vh-2rem)])"
			border="r-0 lg:r-1 r-solid r-text-3"
			p="x-8 b-4 t-12 lg:t-4"
		>
			<!-- <div class="relative">
				<Image
					src={profileImage}
					alt=""
					quality={1}
					widths={[64]}
					sizes="64px"
					class="absolute top-0 size-48 rounded-xl blur-md brightness-40 -z-10"
				/> -->
			<!-- </div> -->
			<Image
				src={profileImage}
				alt="Profile Image"
				quality={100}
				widths={[256, 512, profileImage.width]}
				sizes={`256px, (min-width: 1024px): 512px, (min-width: 1280px): ${profileImage.width}px`}
				class="size-48 rounded-xl"
				draggable={false}
			/>

			<div class="flex flex-1 flex-col items-center pb-8 pt-4 lg:pb-0">
				<h1 class="text-3xl font-medium leading-8 tracking-tight">Curstantine</h1>
				<span class="text-sm text-text-2">FE, BE and Mobile SWE</span>
			</div>

			<div class="grid grid-cols-5 w-full justify-items-center gap-4 text-accent-1">
				<a
					target="_blank"
					aria-label="GitHub"
					href={GITHUB}
					class="i-bxl-github h-6 w-6"
				/>
				<a
					target="_blank"
					aria-label="GitLab"
					href={GITLAB}
					class="i-bxl-gitlab h-6 w-6"
				/>
				<a
					target="_blank"
					aria-label="Twitter"
					href={TWITTER}
					class="i-bxl-twitter h-6 w-6"
				/>
				<a
					target="_blank"
					aria-label="LinkedIn"
					href={LINKEDIN}
					class="i-bxl-linkedin h-6 w-6"
				/>
				<a
					target="_blank"
					aria-label="Last.fm"
					href={LASTFM}
					class="i-pref-lastfm h-6 w-6"
				/>
			</div>
		</div>

		<div class="flex flex-1 flex-col gap-2 px-6">
			<div id="about" class="prose lg:max-w-2xl">
				<h2>#about</h2>
				<p>
					Generic software engineer of sorts. Currently pursuing an SE degree at UoW. (IIT, LK) <br />
					Enthusiatic about making the web a faster and a better place.
				</p>
				<p>
					You can also see my CV <a target="_blank" href={CV}>here.</a>
					<br />
					For work, reach me out at <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
				</p>
			</div>

			<div id="projects" class="prose">
				<h2>#projects</h2>
				<ul class="space-y-2">
					{PROJECTS.map((project) => <Project {project} />)}
				</ul>
			</div>

			<div id="work" class="prose">
				<h2>#work</h2>
				<ul class="space-y-2">
					{WORK.map((project) => <Project {project} />)}
				</ul>
			</div>

			<div id="attributions" class="prose">
				<h2>#attributions</h2>
				<ul>
					<li>
						<span>
							Fonts: <a href={FONT_SANS_ATTR}>Inter</a>{", "}
							<a href={FONT_MONO_ATTR}>JetBrains Mono</a>
						</span>
					</li>
					<li>
						Iconset: <a href={ICON_BXL_ATTR}>BoxIcons Logo</a>
					</li>
					<li>
						Dark color palette: <a href={SONOKAI_ATTR}>Sonokai Andromeda</a>
					</li>
					<li>
						Light color palette: <a href={REALTIME_ATTR}>Realtime Colors</a>
					</li>
				</ul>
			</div>

			<div class="mt-4 flex flex-1 flex-col justify-end xl:pb-4">
				<p class="text-sm text-text-2">Written in Astro and styled with UnoCSS.</p>
			</div>
		</div>

		<CurrentlyListening client:only="solid-js" />
	</main>
</Layout>
