---
import { Image } from "astro:assets";

import {
	BLOGS,
	CV,
	EMAIL,
	FONT_MONO_ATTR,
	FONT_SANS_ATTR,
	GITHUB,
	GITLAB,
	ICON_BXL_ATTR,
	ICON_GRAVITY_ATTR,
	ICON_SYMBOLS_ATTR,
	LASTFM,
	LINKEDIN,
	PROJECTS,
	REALTIME_ATTR,
	SONOKAI_ATTR,
	TWITTER,
	WORK,
} from "~/utils/constants";

import Layout from "~/layouts/Layout.astro";

import Blog from "~/components/Blog.astro";
import CurrentlyListening from "~/components/CurrentlyListening.tsx";
import Project from "~/components/Project.astro";

import profileImage from "~/images/profile.jpg";
---

<Layout title="Curstantine">
	<main class="grid min-h-screen grid-cols-1 lg:container lg:grid-cols-[20rem_1fr] xl:grid-cols-[20rem_1fr_16rem] 2xl:grid-cols-[20rem_1fr_20rem]">
		<div class="flex flex-col items-center border-r-0 border-r-text-3 px-8 pt-12 pb-4 lg:sticky lg:inset-y-4 lg:left-0 lg:max-h-[calc(100vh-2rem)] lg:border-r lg:pt-4">
			<Image
				src={profileImage}
				alt=""
				quality={100}
				priority
				loading="eager"
				widths={[256, 512, profileImage.width]}
				sizes={`256px, (min-width: 1024px): 512px, (min-width: 1280px): ${profileImage.width}px`}
				class="size-48"
				draggable={false}
			/>

			<div class="flex flex-1 flex-col items-center pt-4 pb-8 lg:pb-0">
				<h1 class="text-3xl leading-8 font-medium tracking-tight">Curstantine</h1>
				<span class="text-sm text-text-2">Professional Web Opinionator</span>
			</div>

			<div class="grid w-full max-w-lg grid-cols-5 justify-items-center gap-4 text-accent-1">
				<a
					target="_blank"
					rel="noopener noreferrer"
					aria-label="GitHub"
					href={GITHUB}
					class="iconify bxl--github size-6"
				/>
				<a
					target="_blank"
					rel="noopener noreferrer"
					aria-label="GitLab"
					href={GITLAB}
					class="iconify bxl--gitlab size-6"
				/>
				<a
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Twitter"
					href={TWITTER}
					class="iconify bxl--twitter size-6"
				/>
				<a
					target="_blank"
					rel="noopener noreferrer"
					aria-label="LinkedIn"
					href={LINKEDIN}
					class="iconify bxl--linkedin size-6"
				/>
				<a
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Last.fm"
					href={LASTFM}
					class="iconify pref--lastfm size-6"
				/>
			</div>
		</div>

		<div class="flex flex-1 flex-col gap-2 px-6">
			<div id="about" class="prose lg:max-w-2xl">
				<h2>#about</h2>
				<p>
					I dabble in everything I take interest in.<br />
					Currently working as a Trainee Sofware Engineer (HCM) for IFS R&D, while pursuing an SE degree at
					University of Westminster. (IIT, LK) <br />
				</p>
				<p>
					You can see my CV <a target="_blank" href={CV}>here.</a>
					<br />
					For work, reach me out at <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
				</p>
				<p class="text-text-2">"The rat enjoys the blueprint of his labyrinth."</p>
			</div>

			<div id="projects" class="prose">
				<h2>#projects</h2>
				<ul class="space-y-2">
					{PROJECTS.map((project) => <Project {project} />)}
				</ul>
			</div>

			<div id="work" class="prose">
				<h2>#work</h2>
				<ul class="space-y-2">
					{WORK.map((project) => <Project {project} />)}
				</ul>
			</div>

			<div id="blogs" class="prose">
				<h2>#blogs</h2>
				<ul class="space-y-2">
					{BLOGS.map((blog) => <Blog {blog} />)}
				</ul>
			</div>

			<div id="attributions" class="prose">
				<h2>#attributions</h2>
				<ul>
					<li>
						Fonts:
						<a target="_blank" rel="noopener noreferrer" href={FONT_SANS_ATTR}>IBM Plex Sans</a>,
						<a target="_blank" rel="noopener noreferrer" href={FONT_MONO_ATTR}>JetBrains Mono</a>
					</li>
					<li>
						Iconsets:
						<a target="_blank" rel="noopener noreferrer" href={ICON_BXL_ATTR}>BoxIcons Logo</a>,
						<a target="_blank" rel="noopener noreferrer" href={ICON_SYMBOLS_ATTR}>Material Symbols</a>,
						<a target="_blank" rel="noopener noreferrer" href={ICON_GRAVITY_ATTR}>Gravity UI</a>
					</li>
					<li>
						Dark color palette:
						<a target="_blank" rel="noopener noreferrer" href={SONOKAI_ATTR}>Sonokai Andromeda</a>
					</li>
					<li>
						Light color palette:
						<a target="_blank" rel="noopener noreferrer" href={REALTIME_ATTR}>Realtime Colors</a>
					</li>
				</ul>
			</div>

			<div class="mt-4 flex flex-1 flex-col justify-end xl:pb-4 text-sm text-text-2">
				<p>Written in astro, solid and styled with tailwindcss.</p>
			</div>
		</div>

		<div class="grid h-fit gap-6 p-6 lg:col-start-2 xl:sticky xl:top-0 xl:col-start-auto xl:px-0 xl:pb-0">
			<div class="">
				<div class="mb-1 inline-flex items-center text-text-2">
					<div class="iconify size-4 gravity-ui--wrench mr-2" />
					<span class="text-sm select-none">Tools</span>
				</div>
				<ul class="font-mono text-sm space-y-1">
					<li>
						<a href="/tools/favicon">
							to_favicon<span class="text-accent-1">()</span>
						</a>
					</li>
					<li>
						<a href="/tools/markup-svg">
							as_svgr<span class="text-accent-1">()</span>
						</a>
					</li>
				</ul>
			</div>
			<CurrentlyListening client:only="solid-js" />
		</div>
	</main>
</Layout>
